 img {
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    }
    form {
        text-align: center;
    }
    
    input[type="text"] {
        width: 300px; 
    }
    #mysearchbar {
        width: 500;
        border-radius: 25px;
        border-width: 1px;